@import "../../views/Home/Hero/hero.module.css";
@import url("../../views/Home/HowItWorks/howitwork.module.css");
@import url("../../views/Home/WhyChooseUs/whychooseus.module.css");
@import url("../../views/Home/FeaturesServices/services.module.css");
@import url("../../views/Home/WhyUs/whyus.module.css");
@import url("../../views/Home/FeaturesProduct/product.module.css");
@import url("../../views/Home/BlogNews/blogs.module.css");
@import url("../../views/Home/CtaWidgets/cta.module.css");
.black {
  color: #374b5c;
}

@keyframes drop {
  0% {
    transform: scaleY(0.5);
    opacity: 0;
  }
}
*,
html,
body,
div,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
form,
label,
fieldset,
input,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

caption,
th {
  text-align: left;
}

div,
img,
button,
input,
textarea,
select {
  outline: none;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a,
img,
button,
input {
  border: none;
  outline: none;
  text-decoration: none;
  background: none;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
ol {
  padding: revert;
}

body {
  font-family: "Lexend Deca", sans-serif !important;
}

.wordwrap {
  word-wrap: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 99%;
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 99%;
  white-space: nowrap;
}

.pointer,
button {
  cursor: pointer;
}

.ais {
  align-items: flex-start;
}

.aic {
  align-items: center;
}

.aie {
  align-items: flex-end;
}

.jcc {
  justify-content: center;
}

.tbl {
  display: table;
}

.bl {
  display: block;
}

.ibl li,
.ibl {
  display: inline-block;
}

.cleanbtn {
  border: none;
  outline: none;
  background: none;
}

.abs {
  position: absolute;
}
.abs.fill {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.abs.abc {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.abcb:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nope {
  pointer-events: none;
}

.rel {
  position: relative;
}

.sticky {
  position: sticky;
}

.b {
  font-weight: bold;
}

.b3 {
  font-weight: 300;
}

.b4 {
  font-weight: 400;
}

.b5 {
  font-weight: 500;
}

.b6 {
  font-weight: 600;
}

.b7 {
  font-weight: 700;
}

.b8 {
  font-weight: 800;
}

.b9 {
  font-weight: 900;
}

a,
.noul {
  text-decoration: none;
  outline: none;
  border: none;
}

.nouls,
.noulh:hover {
  text-decoration: underline;
}

.nous {
  user-select: none;
}

.anim {
  transition: all 0.3s linear 0s;
}

.upc {
  text-transform: uppercase;
}

.t-c {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.f1 {
  flex: 1;
}

.f2 {
  flex: 2;
}

.f3 {
  flex: 3;
}

.f4 {
  flex: 4;
}

.cfff {
  color: #ffffff;
}

.c000 {
  color: #121212;
}

.c222 {
  color: #3c4858;
}

.c333 {
  color: #333;
}

.c444 {
  color: #444;
}

.c555 {
  color: #555;
}

.c666 {
  color: #666;
}

.c777 {
  color: #777;
}

.c888 {
  color: #888;
}

.c999 {
  color: #999;
}

.s9 {
  font-size: 9px;
}

.s10 {
  font-size: 10px;
}

.s11 {
  font-size: 11px;
}

.s12 {
  font-size: 12px;
}

.s13 {
  font-size: 13px;
}

.s14 {
  font-size: 14px;
}

.s15 {
  font-size: 15px;
}

.s16 {
  font-size: 16px;
}

.s17 {
  font-size: 17px;
}

.s18 {
  font-size: 18px;
}

.s19 {
  font-size: 19px;
}

.s20 {
  font-size: 20px;
}

.s21 {
  font-size: 21px;
}

.s22 {
  font-size: 22px;
}

.s24 {
  font-size: 24px;
}

.s25 {
  font-size: 25px;
}

.s26 {
  font-size: 26px;
}

.s28 {
  font-size: 28px;
}

.s30 {
  font-size: 30px;
}

.s32 {
  font-size: 32px;
}

.s34 {
  font-size: 34px;
}

.s36 {
  font-size: 36px;
}

.s38 {
  font-size: 38px;
}

.s40 {
  font-size: 40px;
}

.s42 {
  font-size: 42px;
}

.s44 {
  font-size: 44px;
}

.s46 {
  font-size: 46px;
}

.s48 {
  font-size: 48px;
}

.s58 {
  font-size: 58px;
}

.s50 {
  font-size: 50px;
}

.s52 {
  font-size: 52px;
}

.s54 {
  font-size: 54px;
}

.s60 {
  font-size: 60px;
}

.s65 {
  font-size: 65px;
}

.s70 {
  font-size: 70px;
}

.s72 {
  font-size: 72px;
}

.s100 {
  font-size: 100px;
}

.s120 {
  font-size: 120px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  background-color: transparent !important;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.show,
.sho {
  opacity: 1;
  visibility: visible;
}

.hide,
.hid {
  opacity: 0;
  visibility: hidden;
}

.input {
  border: 1px #c3c3c3 solid;
  padding: 8px 12px;
  line-height: 1;
  border-radius: 5px;
}

.cover {
  z-index: 101;
  background: rgba(255, 255, 255, 0.95);
}

.holder {
  animation-duration: 2.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: linear-gradient(to right, #ddd 8%, #e9e9e9 18%, #ddd 33%);
  background-size: 1200px 100%;
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }
  100% {
    background-position: 1200px 0;
  }
}
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-button {
  /* 2 */
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.15);
}

@keyframes drop {
  0% {
    transform: scaleY(0.7);
    opacity: 0;
  }
}
.checkbox {
  height: 22px;
  width: 22px;
  min-width: 22px;
  border: 1px solid #c8c5d4;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.checkbox .icon {
  font-size: 16px;
  color: #ffffff;
  transition: all 0.2s linear 0s;
  opacity: 0;
  visibility: hidden;
}
.checkbox.active {
  border-color: #ff8267;
  background: #ff8267;
}
.checkbox.active .icon {
  opacity: 1;
  visibility: visible;
}

.ellipsis-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ellipsis-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* Spinner  */
.spinner-volume {
  width: 35px;
  height: 35px;
  background-color: #ff8267;
  border-radius: 50%;
  position: relative;
  -webkit-animation: spVolRot 0.6s infinite linear;
  animation: spVolRot 0.6s infinite linear;
}

.sp-volume:after {
  content: "";
  border-radius: 50%;
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  left: 5px;
  top: 5px;
  background-color: white;
}

@-webkit-keyframes spVolRot {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes spVolRot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.toggle-checkbox {
  flex-shrink: 0;
  width: 40px;
  height: 20px;
  padding: 0.2em;
  background: #3b3a39;
  border-radius: 21px;
}
.toggle-checkbox.on .circle {
  background: #fff;
  left: 35px;
}
.toggle-checkbox.on .circle.gooeyIn {
  animation-name: gooeyOut;
  animation-duration: 0.2s;
}
.toggle-checkbox.on .circle.gooeyOut {
  animation-name: gooeyIn;
  animation-duration: 0.2s;
}
.toggle-checkbox .circle {
  height: 16px;
  width: 16px;
  min-width: 16px;
  background: #fff;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: all 0.2s linear 0s;
}

@keyframes gooeyIn {
  45% {
    transform: scaleX(1.55);
  }
}
@keyframes gooeyOut {
  55% {
    transform: scaleX(1.55);
  }
}
.overlay-loading {
  position: fixed;
  inset: 0;
  z-index: 9999999;
  background: rgba(255, 255, 255, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}

.splash-screen {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.splash-screen .logo .img {
  height: 61px;
  margin-right: 11px;
}
@media (max-width: 480px) {
  .splash-screen .logo .img {
    height: 58px;
  }
}
.splash-screen .logo .txt {
  font-size: 26px;
  font-weight: 700;
  color: #374b5c;
}
@media (max-width: 480px) {
  .splash-screen .logo .txt {
    font-size: 24px;
  }
}

.location-field {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 15px 16px;
  background: #fdfdfe;
  border: 1px solid #d5e3ee;
  border-radius: 5px;
  transition: all 0.3s linear 0s;
}
.location-field .icon {
  cursor: pointer;
  width: 30px;
  min-width: 30px;
  height: 30px;
  background: #f2f4f8;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  margin-right: 15px;
}
.location-field .icon svg {
  height: 17px;
  width: 17px;
  display: flex;
}
.location-field .cross-btn {
  width: 30px;
  height: 30px;
  background: #f2f4f8;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  margin-right: 15px;
}
.location-field .cross-btn svg {
  height: 24px;
  width: 24px;
  color: #374b5c;
}
.location-field .iput {
  display: block;
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  color: #374b5c;
  font-size: 16px;
  line-height: 20px;
  font-family: "Lexend Deca", sans-serif !important;
  transition: all 0.3s linear 0s;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.location-field .iput::placeholder {
  color: #374b5c;
}

.autocomplete-dropdown-container {
  display: block;
  width: 100%;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d5e3ee;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out;
  position: absolute;
  z-index: 9;
  top: 64px;
  left: 0;
}

.autocomplete-dropdown-container::-webkit-scrollbar {
  display: none;
}

.autocomplete-dropdown-container .suggestion-item {
  cursor: pointer;
  padding: 11px 12px;
  font-size: 14px;
  color: #374b5c;
  border-bottom: 1px solid #d5e3ee;
  font-family: "Lexend Deca", sans-serif !important;
}

.autocomplete-dropdown-container .suggestion-item:hover {
  background: #f2f4f8;
}

.autocomplete-dropdown-container .suggestion-item span {
  line-height: 1.4;
  position: relative;
}

.product-placeholder {
  width: 100%;
  min-width: 100%;
  min-height: 380px;
  max-height: 350px;
  border-radius: 5px;
}

.empty-item-cmp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 150px);
  width: 350px;
  margin: auto;
  text-align: center;
}
@media (max-width: 480px) {
  .empty-item-cmp {
    width: 100%;
  }
}
.empty-item-cmp .vector {
  height: 150px;
  margin-bottom: -12px;
}
.empty-item-cmp .title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #374b5c;
}
.empty-item-cmp .text {
  font-size: 16px;
  color: #73818c;
  line-height: 1.4;
}
.empty-item-cmp .btn {
  padding: 12px 24px;
  font-size: 15px;
  color: #ffffff;
  background: #150c40;
  margin-top: 24px;
}

.product-card {
  width: 100%;
  background: #fdfdfe;
  border: 1px solid #f2f4f8;
  border-radius: 5px;
}
.product-card .cover-img {
  height: 100%;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  background-color: #e2e2e2 !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  height: 182px;
}
.product-card .card-content {
  padding: 21px 21px;
}
.product-card .name {
  color: #374b5c;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -1px;
  font-family: "Lexend Deca", sans-serif !important;
}
.product-card .location-row {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 15px 0px;
}
.product-card .location-row .icon {
  height: 20px;
  width: 20px;
  min-width: 20px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #374b5c;
  background: #ff8267;
  transition: all 0.3s linear 0s;
}
.product-card .location-row .icon svg {
  height: 12px;
  width: 12px;
}
.product-card .location-row .address {
  color: #73818c;
  font-size: 14px;
  line-height: 24px;
  font-family: "Lexend Deca", sans-serif !important;
}
.product-card .price {
  font-family: "Lexend Deca", sans-serif !important;
  letter-spacing: -1px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #374b5c;
}
.product-card .card-footer {
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid #f2f4f8;
  padding: 16px 20px;
}
.product-card .card-footer .actions {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}
.product-card .card-footer .actions .action {
  height: 35px;
  width: 35px;
  min-width: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d5e3ee;
  color: #374b5c;
}
.product-card .card-footer .actions .action svg {
  height: 16px;
  width: 16px;
}
.product-card .card-footer .views {
  font-size: 13px;
  line-height: 14px;
  color: #73818c;
  font-family: "Lexend Deca", sans-serif !important;
}

.ReactModal__Content {
  position: absolute;
  inset: 50% auto auto 50%;
  border-radius: 20px;
  overflow: auto;
  outline: none;
  transform: translate(-50%, -50%);
  background-color: #fff;
  max-height: calc(100vh - 40px);
  opacity: 1;
}
.ReactModal__Content::-webkit-scrollbar {
  width: 4px;
}
@media (max-width: 480px) {
  .ReactModal__Content {
    width: calc(100vw - 40px);
  }
}

.ReactModal__Overlay {
  inset: 0;
  position: fixed;
  background: rgba(17, 24, 39, 0.8);
  z-index: 999;
}

.features-services-content-wrap .ais-Hits .ais-Hits-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  margin: 0;
  padding: 0;
}
@media (max-width: 1250px) {
  .features-services-content-wrap .ais-Hits .ais-Hits-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1024px) {
  .features-services-content-wrap .ais-Hits .ais-Hits-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 640px) {
  .features-services-content-wrap .ais-Hits .ais-Hits-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
.features-services-content-wrap .ais-Hits .ais-Hits-list .ais-Hits-item {
  width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.placeholders-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  margin: 0;
  padding: 0;
}
@media (max-width: 1250px) {
  .placeholders-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1024px) {
  .placeholders-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 640px) {
  .placeholders-list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}