.cta-section {
    position: relative;
    padding: 60px 0 158px;
    background: url('/image/cta-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
  }
  .cta-section .cta-main-wrapper .cta-title-box {
    margin-bottom: 60px;
  }
  .cta-section .cta-main-wrapper .cta-main-input-box {
    padding: 15px 16px;
    background: #FDFDFE;
    border: 1px solid #FDFDFE;
    box-shadow: 0px 6px 20px rgba(42, 57, 70, 0.08);
    border-radius: 5px 100px 100px 5px;
    display: flex;
    align-items: center;
    gap: 19.8px;
  }
  .cta-section .cta-main-wrapper .cta-title-box .cta-title {
    max-width: 475px;
    margin-left: auto;
    margin-right: auto;
  }
  .cta-section .cta-main-wrapper .cta-main-input-box .cta-button {
    background: #FF8267;
    border-radius: 5px 100px 100px 5px;
    padding: 22px 23.94px;
    border: 0;
  }
  .cta-section .cta-main-wrapper .cta-main-input-box .cta-button .right-arrow-icons {
    width: 18px;
    height: 16px;
    line-height: 16px;
    font-size: 18px;
    display: block;
    color: var(--primary-color);
  }
  .cta-section .cta-main-wrapper .cta-main-input-box .ant-input-affix-wrapper {
    height: 60px;
    background: #FDFDFE;
    border: 1px solid #D5E3EE;
    border-radius: 5px;
    padding: 15px;
  }
  .cta-section .cta-main-wrapper .cta-main-input-box .ant-input-affix-wrapper .ant-input-prefix {
    width: 30px;
    height: 30px;
    background: #F2F4F8;
    border-radius: 5px;
    font-size: 21px;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
  }
  .cta-section .cta-main-wrapper .cta-main-input-box .ant-input-affix-wrapper .ant-input {
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #374B5C;
  }
  .cta-section .cta-main-wrapper .cta-main-input-box .ant-input-affix-wrapper .ant-input::placeholder{
    font-family: var(--font-secondary);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #374B5C;
  }