.feature-product-main-wrapper .section-main-topbar-box {
  margin-bottom: 60px;
}

.feature-product-main-wrapper .section-main-topbar-box .topbar-left-cont-box .product-title-box {
  margin-bottom: 60px;
}
.feature-product-main-wrapper .section-main-topbar-box .topbar-left-cont-box .product-title-box .pin-text {
  margin-bottom: 15px;
}
.feature-product-main-wrapper .section-main-topbar-box .topbar-left-cont-box .product-title-box .title {
  text-align: left;
}

.features-product-section{
  position: relative;
  background: #F8FAFD;
  padding: 60px 0;
  overflow: hidden;
}
.product-filter-box.button-filter-box {
	flex-wrap: nowrap;
}
.button-style.primary-button.view-more-button {
	margin-left: auto;
}
@media screen and (max-width:991px) {
  .product-filter-box.button-filter-box {
    flex-wrap: nowrap;
    width: calc(100vw - 30px);
    overflow: hidden;
    overflow-x: scroll;
    padding-bottom: 15px;
  }
}