$page-background: #f1f2f4;
$background-overlay: rgba(17, 24, 39, 0.8);

$color-white: #ffffff;

$color-yellow: #eecd25;

$color-brand-red: #ff8267;
$color-brand-red-1: #eb2f58;
$color-brand-green: #3cb46e;
$color-brand-blue: #1f2f6a;

// $color-black: #1b2938;
$color-black: #374b5c;
$color-black-0: #232f42;
$color-black-1: #374b5c;
$color-black-2: #73818c;
$color-black-3: #3c4858;
$color-black-4: #a19f9d;
$color-black-5: #150c40;

$color-red: #f42a6d;
$color-red-0: #cc1016;
$color-red-1: #fc5a5a;

$color-grey: #eeeeee;
$color-grey-0: #e2e2e2;
$color-grey-1: #3b3a39;
$color-grey-2: #605e5c;
$color-grey-3: #4b5563;
$color-grey-4: #6b7280;
$color-grey-5: #f5f5f5;
$color-grey-6: #f1f2f4;
$color-grey-7: #f7f7f7;
$color-grey-8: #aab7c4;
$color-grey-9: #efefef;

$color-blue: #5384ec;
$color-green: #209f26;

$color-danger: #ff6b6b;
$color-info: #2196f3;
$color-success: #3abd40;
$color-warning: #ff9800;
$color-aqua: #39d1b4;
$color-cornflower-blue: #6495ed;

$border-color: #d5e3ee;
$border-color-0: #ededed;
$border-color-1: #c8c5d4;
$border-color-2: #ccced6;
$border-color-3: #ced5e1;
$border-color-4: #e5e7eb;

$background-overlay: rgba(17, 24, 39, 0.8);

.black {
  color: $color-black-1;
}
$color-input-icon-red-1: #eb2f58;
$color-input-blue: rgba(229, 236, 246, 0.608);
